{{ ansible_managed | comment }}

{{- "\n\n" -}}
<VirtualHost {{ apache_vhosts_vhost.addr | default(apache_vhosts_defaults.addr) }}:{{ apache_vhosts_vhost.port | default(apache_vhosts_defaults.port) }}>
  ServerName {{ apache_vhosts_vhost.server_name | default(apache_vhosts_defaults.server_name) }}

{%- set includes = apache_vhosts_vhost.includes | default(apache_vhosts_defaults.includes) | default([]) -%}
{%- if includes | length > 0 -%}
  {{- "\n" -}}
  {%- for include in includes -%}
    {{- "\n" -}}
    {{- "  " -}}Include {{ include }}
  {%- endfor -%}
{%- endif -%}

{%- if apache_vhosts_vhost.raw_content | default(apache_vhosts_defaults.raw_content) is defined -%}
  {{- "\n\n" -}}
  {{- apache_vhosts_vhost.raw_content | default(apache_vhosts_defaults.raw_content) | indent(width=2, first=True) -}}
{%- endif -%}

{%- if apache_vhosts_vhost.timeout | default(apache_vhosts_defaults.timeout) is defined -%}
  {{- "\n\n" -}}
  {{- "  " -}}TimeOut {{ apache_vhosts_vhost.timeout | default(apache_vhosts_defaults.timeout) }}
{%- endif -%}

{%- set rules = apache_vhosts_vhost.redirect_match | default(apache_vhosts_defaults.redirect_match) | default([]) -%}
{%- if rules | length > 0 -%}
  {{- "\n" -}}
  {%- for rule in rules -%}
    {{- "\n" -}}
    {{- "  " -}}RedirectMatch {{ rule }}
  {%- endfor -%}
{%- endif -%}

{%- if apache_vhosts_vhost.rewrite_engine | default(apache_vhosts_defaults.rewrite_engine) | default(false) -%}
  {{- "\n\n" -}}
  {{- "  " -}}RewriteEngine On
  {%- set rules = apache_vhosts_vhost.rewrite_rules | default(apache_vhosts_defaults.rewrite_rules) | default([]) -%}
  {%- if rules | length > 0 -%}
    {%- for rule in rules -%}
      {{- "\n" -}}
      {{- "  " -}}RewriteRule {{ rule }}
    {%- endfor -%}
  {%- endif -%}
{%- endif -%}

{%- for location in apache_vhosts_vhost.locations | default(apache_vhosts_defaults.locations) | default([]) -%}
  {{- "\n\n" -}}
  {{- "  " -}}<Location {{ location.path }}>
  {%- for proxy in location.proxy_pass | default([]) -%}
  {{- "\n" -}}
  {{- "    " -}}ProxyPass {{ proxy }}
  {%- endfor -%}
  {%- for proxy in location.proxy_pass_reverse | default([]) -%}
  {{- "\n" -}}
  {{- "    " -}}ProxyPassReverse {{ proxy }}
  {%- endfor -%}
  {{- "\n" -}}
  {{- "  " -}}</Location>
{%- endfor -%}

{%- set proxies = apache_vhosts_vhost.proxy_pass | default(apache_vhosts_defaults.proxy_pass) | default([]) -%}
{%- if proxies | length > 0 -%}
  {{- "\n" -}}
  {%- for proxy_pass in proxies -%}
    {{- "\n" -}}
    {{- "  " -}}ProxyPass {{ proxy_pass }}
  {%- endfor -%}
{%- endif -%}

{%- set proxies = apache_vhosts_vhost.proxy_pass_reverse | default(apache_vhosts_defaults.proxy_pass_reverse) | default([]) -%}
{%- if proxies | length > 0 -%}
  {{- "\n" -}}
  {%- for proxy_pass_reverse in proxies -%}
    {{- "\n" -}}
    {{- "  " -}}ProxyPassReverse {{ proxy_pass_reverse }}
  {%- endfor -%}
{%- endif -%}

{%- set headers = apache_vhosts_vhost.headers | default(apache_vhosts_defaults.headers) | default([]) -%}
{%- if headers | length > 0 -%}
  {{- "\n" -}}
  {%- for header in headers -%}
    {{- "\n" -}}
    {{- "  " -}}Header {{ header }}
  {%- endfor -%}
{%- endif -%}

{%- if apache_vhosts_vhost.balancer | default(apache_vhosts_defaults.balancer) is defined -%}
  {{- "\n\n" -}}
  {{- "  " -}}<Proxy balancer://{{ apache_vhosts_vhost.balancer.name | default(apache_vhosts_defaults.balancer.name) }}>
  {%- set members = apache_vhosts_vhost.balancer.members | default(apache_vhosts_defaults.balancer.members) -%}
  {%- if members | length > 0 -%}
    {%- for member in members -%}
      {{- "\n" -}}
      {{- "    " -}}BalancerMember {{ member }}
    {%- endfor -%}
  {%- endif -%}
  {{- "\n" -}}
  {{- "    " -}}ProxySet lbmethod={{ apache_vhosts_vhost.balancer.lbmethod | default(apache_vhosts_defaults.balancer.lbmethod) }}{%- if apache_vhosts_vhost.balancer.sticky_session | default(apache_vhosts_defaults.balancer.sticky_session) is defined -%}{{ " " }}stickysession={{ apache_vhosts_vhost.balancer.sticky_session | default(apache_vhosts_defaults.balancer.sticky_session) }}{%- endif -%}
  {{- "\n" -}}
  {{- "  " -}}</Proxy>
{%- endif -%}

{%- if apache_vhosts_vhost.custom_log | default(apache_vhosts_defaults.custom_log) is defined
       and apache_vhosts_vhost.custom_log_format | default(apache_vhosts_defaults.custom_log_format) is defined -%}
  {{- "\n\n" -}}
  {{- "  " -}}CustomLog {{ apache_vhosts_vhost.custom_log | default(apache_vhosts_defaults.custom_log) }} {{ apache_vhosts_vhost.custom_log_format | default(apache_vhosts_defaults.custom_log_format) }}
{%- endif -%}
{%- if apache_vhosts_vhost.transfer_log | default(apache_vhosts_defaults.transfer_log) is defined -%}
  {{- "\n\n" -}}
  {{- "  " -}}TransferLog {{ apache_vhosts_vhost.transfer_log | default(apache_vhosts_defaults.transfer_log) }}
{%- endif -%}
{%- if apache_vhosts_vhost.error_log | default(apache_vhosts_defaults.error_log) is defined -%}
  {{- "\n\n" -}}
  {{- "  " -}}ErrorLog {{ apache_vhosts_vhost.error_log | default(apache_vhosts_defaults.error_log) }}
{%- endif -%}
{{- "\n" -}}
</VirtualHost>
